{% extends 'base.html.twig' %}

{% block title %}Hello IngredientController!{% endblock %}

{% block body %}
    <div class="container middle-screen">
        <ul class="ingredients list-group">
            <li><h1>Les ingrédients</h1></li>
            {% for ingredient in ingredients %}
            <li class="ingredient list-group-item" data-id="{{ ingredient["id"] }}">
                <div class="ingredient">{{ ingredient["name"] }} au prix de {{ ingredient["price"] }}</div>
                <div class="ingredient-actions">
                    <div class="ingredient-edit" data-id="{{ ingredient["id"] }}">Modifier</div>
                    <div class="ingredient-trash" data-id="{{ ingredient["id"] }}">Supprimer</div>
                </div>
            </li>
            {% endfor %}
            <li class="ingredient-add">
                Ajouter un ingrédient
            </li>
        </ul>
    </div>
{% endblock %}
