{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
<div class="container mt-5 recipe-header">
    <h1>Créer une nouvelle recette</h1>
</div>
<div class="container mt-5">
    <div class="create-recipe">
        <div class="form-group name">
            <label for="name">Nom de la recette</label>
            <input type="text" class="form-control name name-input">
        </div>
        <div class="form-group recipe-ingredients">
            <label for="name">Vos ingrédients</label>
            <select class="form-control recipe-ingredients">
                <option value="choose" selected="true" disabled="disabled">Choisissez un (ou plusieurs) ingrédient(s)</option>
                {% for key, ingredient in ingredients %}
                <option class="option-ingredients" value="{{ key }}" data-id="{{ ingredient.id }}" data-name="{{ ingredient.name }}" data-price="{{ ingredient.price }}">{{ ingredient.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="name">Vos ingrédients choisis</label>
            <ul class="choosen-ingredients">
                {# <li class="choosen-ingredient"><div>Ingrédient</div><div><a class="btn btn-danger ml-3" href="#"> X </a></div></li> #}
            </ul>
        </div>
        <div class="form-group instructions">
            <label for="instructions">Instructions</label>
            <textarea class="form-control instructions instructions-input" name="instructions"cols="30" rows="10"></textarea>
        </div>
        <div class="form-group time">
            <label for="name">Temps (en minutes)</label>
            <input type="number" class="form-control time time-input">
        </div>
        <div class="form-group difficulty">
            <label for="name">Difficulté</label>
            <select class="form-control difficulty difficulty-input">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group shared" style="margin-left: 40px;">
            <input type="checkbox" class="form-check-input shared">
            <label class="form-check-label">Partager à la communauté</label>
        </div>
        <div class="form-group price">
            <input type="number" class="form-control price" placeholder="Prix de votre recette" value="0.0" disabled>
        </div>
        <div class="form-group images">
            <label>URL de l'image 1</label>
            <input type="text" class="form-control image image-1-input">

            <label>URL de l'image 2</label>
            <input type="text" class="form-control image image-2-input">

            <label>URL de l'image 3</label>
            <input type="text" class="form-control image image-3-input">

            <label>URL de l'image 4</label>
            <input type="text" class="form-control image image-4-input">

            <label>URL de l'image 5</label>
            <input type="text" class="form-control image image-5-input">
        </div>
        <div class="form-group submit" style="text-align: center">
            <a href="#" class="form-control submit btn btn-success add" style="width: 20%;">Créer ma recette !</a>
        </div>
        <div class="form-group submit" style="text-align: center; display: none;">
            <a href="#" class="form-control submit btn btn-success update" style="width: 20%;">Sauvegarder ma recette !</a>
        </div>
    </div>
</div>
{% endblock %}
